
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
	background-color:#f8f8f8;
}


.jumbotron{
	background-color:#454E52;
	
	font-family: Montserrat, sans-serif;
	color:#fff;
	
	padding:20px 50px;}


.jumbotron h2{
	color:#22b8eb;
	letter-spacing: 2px;
	font-family: Montserrat, sans-serif;
	font-weight:lighter;
	font-size:20px;}
.jumbotron p{
	color:#e6e7e8;
	font-size: 14px;
    line-height: 20px;
	letter-spacing: 0.02rem;
    font-weight:lighter;}

.jumbotron .service_icon{
	font-size:100px;
	color:#22b8eb;}
.jumbotron .intro_service{
	
	color:#fff;}
.jumbotron .intro_service h1{
	color:#fff;
	letter-spacing: 4px;
	font-family: Montserrat, sans-serif;
	font-weight:lighter;
	}

	.jumbotron button{
		border-radius:1px;}

#intro_name{
	
	transition:transform 1s;
	}

.container-fluid h1{
	font-size:56px;
	}
.container-fluid h1,p{
	color:#1F3D5C;
	font-weight:lighter;
	font-family:Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", 

"Cantarell", "Open Sans", sans-serif;
	}
.container-fluid p{
	font-size:18px;}

.container-fluid h2{
	text-transform:uppercase;
	font-size:24px;
	color:#1F3D5C;
	font-weight:lighter;}

#about .row{
	
	padding-top:30px;}



.icon{
	color:#1F3D5C;
	font-size:50px;
	cursor:pointer;}
.bg-white{
	background-color:#fff;}



#who hr{
	border: 0;
  border-top: 1px solid #22b8eb;}
	


#who .row{
	padding-top:50px;}
	
#contact{
	padding:50px 50px;}
	
.modal-content h2{color:#fff;
font-weight:lighter;
	font-family:Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", 

"Cantarell", "Open Sans", sans-serif;
	}
.modal-content label{
	color:#1F3D5C;
	font-weight:lighter;
	font-family:Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", 

"Cantarell", "Open Sans", sans-serif;
	}
.btn-my{
	background-color:#22b8eb;
	color:#fff;}

@media (min-width:768px){
	.jumbotron{
		height:600px;
		background-image:url(../images/open_standards_image.png);}
	#intro_name{
	position:absolute;
	top:30%;
	left:30%;}
	
	.jumbotron .intro_service h1{
		font-size:40px;
		letter-spacing: 4px;}
	.col-lg-3{
		margin: 25px 0;}
		
		#about{
	padding:0px 50px;
	padding-bottom:30px;}
#who{
	padding:80px 150px;
	padding-top:60px;}
	
	}
