.my-toggle{
	float:left;}
	

	
th{
	background-color:#f5f5f5;
	text-align:center;}
td{
	text-align:center;}
	
btn{
	padding-left:10px;}
	
.launch{
	padding:7px;
	border-radius:3px;
	text-decoration:none;}
.launch:hover{
	text-decoration:none;}

