.my-toggle{
	float:left;}
	

	
th{
	background-color:#f5f5f5;
	text-align:center;}
td{
	text-align:center;}
	
.btn{
	margin-left:10px;
	float:left;}

.myclass{
	
	position:absolute;
	top:0%;
	
	width:20%;
	
	left:40%;
	
	}	
.launch{
	padding:7px;
	border-radius:3px;
	text-decoration:none;}
.launch:hover{
	text-decoration:none;}

