body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#2A3F55;}
h1{
	text-align:center;
	font-size:3em;
	font-weight:lighter;
	}

table {
	text-align:center;
    width: 100%;
    border-collapse: collapse;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

}
th, td {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}